<!DOCTYPE html>
<html>
  <head>
    <!-- Head content such as title and link to css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
      </head>
  </head>
  <body>
    <div class="sidebar">
      <nav>
        <a href="/">⬅ exit the TARDIS</a>
        <a href="/interior/about-me/">about me</a>
        <a href="/interior/work/">work</a>
        <a href="/interior/research/">research</a>
        <a href="/interior/awards/">awards</a>
      </nav>
    </div>
    <div class="content-container">
      {{ content }}
    </div>
  </body>
</html>
